* {
    font-family: Raleway, sans-serif;
}

h1 {
    position: relative;
    z-index: 3;
    font-weight: 800;
    margin-left: 15px;
    margin-top: 15px;
}

.one {
    background-color: hsla(248, 82%, 33%, 0.908);
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 2.5em;
    opacity: .7;
    z-index: 1;
}

.two {
    background-color: hsla(236, 91%, 43%, 0.903);
    height: 80px;
    width: 80px;
    position: absolute;
    top: 1em;
    left: 6em;
    opacity: 0.7;
    z-index: 2;
}

.three {
    background-color: hsla(227, 95%, 54%, 0.718);
    height: 80px;
    width: 80px;
    position: absolute;
    top: .5em;
    left: 10em;
    opacity: 0.7;
    z-index: 1;
}

.four {
    background-color: hsla(189, 100%, 49%, 0.918);
    height: 80px;
    width: 80px;
    position: absolute;
    top: 1.5em;
    left: 16em;
    opacity: 0.5;
    z-index: 1;
}

.five {
    background-color: hsla(163, 97%, 48%, 0.958);
    height: 80px;
    width: 80px;
    position: absolute;
    top: .3em;
    left: 20em;
    opacity: 0.6;
    z-index: 0;
}

table {
    max-width: 1100px;
    margin-top: 60px;
}

th {
    border: 3px solid black;
    background-color: hsla(15, 96%, 50%, 0.5);
    box-shadow: 2px 5px hsla(15, 91%, 23%, 0.5);
    padding: 1%;
    box-sizing: border-box;
    line-height: 1.3;
    min-width: 90px;
}

td {
    background-color: hsla(15, 77%, 76%, 0.5);
    box-shadow: 1.5px 3px grey;
    padding: 1%;
    line-height: 1.3;
}

.colum1 {
    font-weight: 600;
}

img {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    max-width: 1100px;
}

.imagecredit {
    font-size: smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: -4%;
    padding-left: 8%;
    box-sizing: border-box;
}
